{#
{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block head %}
#}
    {# redirect example with http-eqiv #}
    <meta http-equiv="refresh" content="3;URL='/admin/index'" />  
{#
    {% endblock %}
#}
{% block content %}
    <p>Admin login successful</p>
    <p><a href="/admin/index">Click to continue</a>. You will be automatically redirected in 3 seconds.</p>
{% endblock %}