{#
{% extends "admin/master.html.twig" %}
#}

{% block head %}
	<!DOCTYPE html>
	<html lang="en">

		<head>

			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<meta name="author" content="">

			<title>Samurai Pizza - Recent Activities</title>

			<!-- Fontawesome icon link -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        
			
			<!-- Custom fonts for this template -->
			<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
			<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

			<!-- Custom styles for this page -->
			<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

			<!-- Custom styles for this template -->
			<link
			href="/css/sb-admin-2.css" rel="stylesheet">

            <!-- Custom styles for admin pages -->
			<link href="/css/admin-styles.css" rel="stylesheet">
		</head>
	{% endblock head %}

   
    {% include 'admin/sidebar.html.twig' %}   
	{% block content %}
		
       
						<!-- Begin Page Content -->
						<div
							class="container-fluid">

							<!-- Page Heading -->
							<!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
							<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
								                        For more information about DataTables, please visit the
								<a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<span class="m-0 font-weight-bold text-primary">Recent Activities</span>
									{# <a class="btn btn-primary" href="/admin/users/add">Add User</a> #}
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


											<thead>
												<tr>
													<th>DateTime</th>
													<th>Email</th>
													<th>IP Address</th>
													<th>Activity</th>
												</tr>
											</thead>
											<tfoot>
												<tr>
													<th>DateTime</th>
													<th>Email</th>
													<th>IP Address</th>
													<th>Activity</th>h>
												</tr>
											</tfoot>
											<tbody>

												{% for u in usersList %}
													<tr>
														<td>{{u.creationTS}}</td>
														<td>{{u.email}}</td>
														<td>{{u.ip}}</td>
														<td>{{u.activity}}</td>

													</tr>
												{% endfor %}

											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
						<!-- /.container-fluid -->

					</div>
					<!-- End of Main Content -->
{% endblock %}

{% include 'admin/footer.html.twig' %}   