{% block head %}
	<!DOCTYPE html>
	<html lang="en">

		<head>

			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="">
			<meta name="author" content="">

			<title>Samurai Pizza - User Management</title>

			<!-- Custom fonts for this template -->
			<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
			<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

			<!-- Custom styles for this page -->
			<link
			href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
				<!-- Custom styles for this template -->
				<link
				href="/css/sb-admin-2.css" rel="stylesheet">

			<!-- Custom styles for admin pages -->
			<link href="/css/admin-styles.css" rel="stylesheet">
		</head>
	{% endblock head %}
	{% include 'admin/sidebar.html.twig' %}
	{% block content %}

							<!-- Begin Page Content -->
							<div
							class="container-fluid">

							<!-- Page Heading -->
							<!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
							<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
								                        For more information about DataTables, please visit the
								<a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

							<!-- DataTales Example -->
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<span class="m-0 font-weight-bold text-primary">Delete User</span>
									
								</div>
								<div class="card-body">
									<div class="container-fluid align-items-center justify-content-between mb-4">

										{# <h3>Delete user</h3> #}
										<b>User name:</b>
										{{ v.name }}"<br>
										<b>Email</b>:
										{{ v.email }}"<br>
										<b>Is admin?</b>
										{% if v.isAdmin %}yes{% else %}no
										{% endif %}<br>
										<form method="POST">
											<p><b>Please confirm this action. It is irreversible</b></p>
											<input class="btn btn-danger" type="submit" value="Yes, delete the user">
											<a class="btn btn-primary" href="/admin/users/list">Cancel</a>
										</form>
										
									</div>
								</div>
							</div>

						</div>
						<!-- /.container-fluid -->

					</div>
					<!-- End of Main Content -->
{% endblock %}

{% include 'admin/footer.html.twig' %}
