
    {# redirect example with http-eqiv #}
    <meta http-equiv="refresh" content="3;URL='/admin/users/list'" />  

{% block content %}
    <p>Operation successful - user {% if op == 'add' %}added{% else %}updated{% endif %}</p>
    <p><a href="/admin/users/list">Click here to continue</a></p>
{% endblock %}