<meta http-equiv="refresh" content="3;URL='/admin/users/list'" />  

{% block content %}
    <p>Operation successful - user deleted</p>
    <p><a href="/admin/users/list">Click here to continue</a></p>
{% endblock %}