{% block head %}

	<!DOCTYPE html>
	<html>

		<head>
			<title>Welcome the samurai-to-be</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
			<!-- <linkrel="stylesheet" href="../styles.css">  -->
			<!--for the recaptcha v2 client site-->
			<script src='https://www.google.com/recaptcha/api.js'></script>
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <link rel="stylesheet" href="/css/login-styles.css">

		</head>

	{% endblock head %}
	{% block content %}

		<body>
				<div class="container h-100">
					<div class="d-flex justify-content-center h-100">
						<div class="user_card">
							<div class="d-flex justify-content-center">
								<div class="brand_logo_container">
									<img src="/images/samurai.png" class="brand_logo" alt="Logo" style="height: 150px;">
								</div>
							</div>
							<div class="d-flex justify-content-center form_container">
								<form method="POST">
									<div class="input-group mt-2 mb-3">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fas fa-user"></i>
											</span>
										</div>
										<input type="text" name="name" class="form-control input_user" value="{{ v.name }}" placeholder="your name">
									</div>
									<div class="input-group mb-3">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fas fa-envelope"></i>
											</span>
										</div>
										<input type="email" name="email" class="form-control input_user" value="{{ v.email }}" placeholder="email">
									</div>

									<div class="input-group mb-3">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fas fa-key"></i>
											</span>
										</div>
										<input type="password" name="pass1" class="form-control input_pass" value="" placeholder="password">
									</div>
									<div class="input-group mb-3">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fas fa-key"></i>
											</span>
										</div>
										<input type="password" name="pass2" class="form-control input_pass" value="" placeholder="confirm password">
									</div>
									<div class="input-group mb-3">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fas fa-map-marked"></i>
											</span>
										</div>
										<input type="text" name="address" class="form-control input_user" value="{{ v.address }}" placeholder="address">
									</div>
									<div class="input-group mb-3">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fas fa-mobile"></i>
											</span>
										</div>
										<input type="text" name="phone" class="form-control input_user" value="{{ v.phone }}" placeholder="phone">
									</div>

									<div class="input-group mb-3">
										<div class="input-group-append"></div>
										<span class="input-group-text">
											<i class="fas fa-user-cog"></i>
											&nbsp Is Admin: &nbsp</span>
										<input class="form-control input_user" type="checkbox" name="isAdmin" value="1" {% if v.isAdmin %} checked {% endif %}><br>
									</div>


									<div class="d-flex justify-content-center mt-3 login_container">
										<input type="submit" class="btn login_btn btn-primary" value="{% if op == 'edit' %}Update user data{% else %}Add user{% endif %}">
									</div>


								</form>
							</div>

							<!-- show the errorlist on input checking -->
							{% if errorList %}
								<ul class="errorMessage">
									{% for error in errorList %}
										<li>{{error}}</li>
									{% endfor %}
								</ul>
							{% endif %}

						</div>
					</div>
				</div>


		</body>
	</html>


{% endblock %}
