.back {
    background: #ffffff;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    
  }

  
  
  
  
  .details {
    border: 1.5px solid grey;
    color: #212121;
    margin-top: 10px;
    width: 100%;
    height: 39px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 0px 10px #212121
    
  }
  .card_wrapper {
    margin: 5px;
    padding: 5px;
  }
  
  .cart {
    background-color: #212121;
    color: white;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    height: 39px;
    padding-top: 9px;
    box-shadow: 0px 5px 10px #212121
  }
  
  .card {
    /* width: fit-content; */
    margin: 5px;
    padding: 5px;
   
  }
  
  .card-body {
    margin: 10px;
    padding: 10px;
  }
  
  .btn {
    border-radius: 0
  }
  
  .img-thumbnail {
    border: none
  }
  
  .card {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding-bottom: 10px
  
  }

  .card_image {
    max-width:100%;
    max-height:100%;
  }
