<!DOCTYPE html>
<html>

<head>
    {% block head %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     -->   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    

    <link rel="stylesheet" href="styles.css" />
        {% block stylesheet %}{% endblock stylesheet %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - My Webpage</title>    
</head>

<body>
            <!-- Header -->
            <nav class="white z-depth-0">
                <div class="container">
                    <nav >
                        <a class="navbar-brand" href="/productlines"><img src="../images/samurai.png" class="brand_logo rounded" alt="Logo" style="height: 100px;"></a>
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <ul id="nav-mobile">
                            <a href="#" class="brand-logo brand-text">Samurai Pizza</a>
    
                            <li><a href="/index" class="btn brand z-depth-0">Home</a></li>
                            <li><a href="/login" class="btn brand z-depth-0">Login/Register</a></li>
                            <li><a href="/order" class="btn brand z-depth-0">Make an Order</a></li>
                            <li><a href="/aboutus" class="btn brand z-depth-0">About us</a></li>
        
                            <!-- Cart -->
                            
                        </ul>
                    </nav>
                </div>
            </nav>
            
        <!-- Cart popover 
        <div id="popover_content_wrapper" style="display: none">
            <span id="card-details"></span>
            <div align="right">
                <a href="order_process.php" class="btn btn-primary" id="check_out_cart">
                    <span class="glyphicon glyphicon-shoppping-cart"></span> Check out
                </a>
                <a href="#" class="btn btn-default" id="clear_cart">
                    <span class="glyphicon glyphicon-trash"></span> Clear
                </a>
            </div>
        </div>
        -->

        <!-- Main -->

       <div>
        {% if userSession %}
            <p class="py-2 px-4 text-primary float-sm-right">You are logged in as <b>{{ userSession.username }}</b></p>
        {% endif %}
        {% if flashMessage %}
            <div id="flashMessage" class="alert alert-info">
                {{flashMessage}}
            </div>
        {% endif %}
        <div class="overflow-auto">
            {% block content %}

            {% endblock content %}
        </div>

       </div>
    
        {% block footer %}
        <!--footer starts from here-->
    <div mt-5>
        <!-- Footer -->
        
        <footer class="section">
            <div class="center grey-text">Copyright 2021 Samurai Pizza</div>
            <!-- Contact Us & social Logos-->
        </footer>
    </div>
    {% endblock footer %}
</div> 

</body>

</html>

{% block scripts %}

{% endblock scripts %}