{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/styles/prod_style.css" />{% endblock stylesheet%}
{% block title %}Products in Category{% endblock %}

{% block content %}
<div class='container back p-5'>
    {% for p in prodList %}
        <div class="card_wrapper">
            <div class="card mx-auto mt-3 mb-3 "> 
                <img class='mx-auto img-thumbnail m-3 card_image' src="/images/{{p.photo}}" width="auto" height="auto" />
                <div class="card-body text-center"> 
                    <div >
                        <h5 class="card-title font-weight-bold">{{p.productName}}</h5>
                        <p class="d-flex justify-content-center">
                            <a href="/itemdetails/{{ p.id }}" class="btn details px-auto mr-1">View Details</a>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
