{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/styles/productlines.css" />{% endblock stylesheet%}

{% block title %}Welcome to Samurai Pizza{% endblock %}

{% block content %}
    <div class='container back p-5'>
            <a class="nav-link" href="/category/Pizza" btn>
                <div class="card_wrapper">
                    <div class="card mx-auto mt-3 mb-3 "> <img class='img-thumbnail m-3 card_image' src="../images/pizza.jpg" width="auto" height="auto" />
                        <div class="card-body text-center">
                            <div >
                                <p class="card-title font-weight-bold">Pizza</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="nav-link" href="/category/Sides" btn>
                <div class="card_wrapper">
                    <div class="card mx-auto mt-3 mb-3 "> <img class='img-thumbnail m-3 card_image' src="../images/pizza.jpg" width="auto" height="auto" />
                        <div class="card-body text-center">
                            <div >
                                <p class="card-title font-weight-bold">Sides</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="nav-link" href="/category/Drinks" btn>
                <div class="card_wrapper">
                    <div class="card mx-auto mt-3 mb-3 "> <img class='img-thumbnail m-3 card_image' src="../images/pizza.jpg" width="auto" height="auto" />
                        <div class="card-body text-center">
                            <div >
                                <p class="card-title font-weight-bold">Drinks</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        <a class="nav-link" href="/category/Desserts" btn>
            <div class="card_wrapper">
                <div class="card mx-auto mt-3 mb-3 "> <img src="../images/samurai.png" class="brand_logo rounded" alt="Logo" style="height: 150px;">
                    <div class="card-body text-center">
                        <div >
                            <p class="card-title font-weight-bold">Desserts</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    
    </div>
{% endblock content %}