{% extends "master.html.twig" %}

{% block title %}
    Item Details
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="/styles/itemdetails.css">
{% endblock stylesheet %}

{% block content %}

    <div class="py-5 container">
        <div class="row">
            {% if errors %}
            {% for e in errors %}
                <p class="form-control is-invalid text-white bg-danger">{{ e }}</p>
            {% endfor %}
            {% endif %}
            <form method="POST" class="col-md-12">
                <div class="form-row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="/images/{{selectedItem.photo}}" width="auto" height="auto" /></div>
                        </div>
                    </div>
                    <div class="details col-md-6 px-5">
                        <h3 class="product-title">{{selectedItem.productName}}</h3>
                        <p class="product-description">{{selectedItem.description}}</p>
                        
                    {% if selectedItem.category == 'pizza' %}
               
                        <div class="form-check">
                            <input type="radio" class="btn-check" name="size" id="small" value="small" checked autocomplete="off">
                            <label  class="btn btn-outline-primary" for="small">S</label>
                            <input type="radio" class="btn-check" name="size"  id="medium" value="medium" autocomplete="off">
                            <label class="btn btn-outline-primary" for="medium">M</label>
                            <input type="radio" class="btn-check" name="size"  id="large" value="large" autocomplete="off">
                            <label class="btn btn-outline-primary" for="large">L</label>
                            <input type="radio" class="btn-check" name="size"  id="xlarge" value="xlarge" autocomplete="off">
                            <label class="btn btn-outline-primary" for="xlarge">XL</label>
                        </div>
                        <br>
                        <h5 class="product-title">Add Ingredients</h5>

                        <form method="post" action="/Tests/Post">  
                         <fieldset> 
                        <div  class="row">
                            <div class="form-check col-sm-6">
                             <!--  <input type="checkbox" id="vehicle1" name="vehicle1" value="1" autocomplete="off">
                                <label for="vehicle1"> Extra Cheese </label><br>
                                <input type="checkbox" id="vehicle2" name="vehicle2" value="2"autocomplete="off">
                                <label for="vehicle2"  for="ham">Ham </label><br>
                                <input type="checkbox" id="vehicle3" name="vehicle3" value="3"autocomplete="off">
                                <label for="vehicle3"> Olives</label><br><br>
                                --> 
                            <input type="checkbox" name="add_ing" value="Extra Cheese" onclick="return AddIngredient();">
                            <label for="vehicle1">  Extra Cheese</label><br>
                            <input type="checkbox" name="add_ing" value="Ham" onclick="return AddIngredient();"> 
                            <label for="vehicle2">Ham</label><br>
                            <input type="checkbox" name="add_ing" value="Olives" onclick="return AddIngredient();">  
                            <label for="vehicle3"> Olives</label><br><br>
                              
                            </div>

                           <div class="form-check col-sm-6">
                            <input type="checkbox" name="add_ing" value="Pepperoni" onclick="return AddIngredient();">
                            <label for="vehicle1"> Pepperoni</label><br>
                            <input type="checkbox" name="add_ing" value="Supreme" onclick="return AddIngredient();"> 
                            <label for="vehicle2">Supreme</label><br>
                            <input type="checkbox" name="add_ing" value="Pineapple" onclick="return AddIngredient();">  
                            <label for="vehicle3"> Pineapple</label><br><br>

                           </div> 
                          
                        </div>   

                        <script type="text/javascript">  
                        function AddIngredient()  
                        {  
                            var checkboxes = document.getElementsByName("add_ing");  
                            var numberOfCheckedItems = 0; 
                            for(var i = 0; i < checkboxes.length; i++)  
                            {  
                                if(checkboxes[i].checked)  
                                numberOfCheckedItems++;
                                
                            }  
 
                        }  
                        </script>
                        <div>
                            <button id ="ing" class="add-to-cart btn btn-sm" type="submit">add to pizza</button>
                        </div>
                        <br><br>
                                
                   
                            </fieldset>  
                        </form>  
                        

           
                     {% endif %} 

                               
                       <div class="form-group row">
                            <label for="Quantity" class="col-2 col-form-label">Quantity</label>
                            <div class="col-10">
                                <input class="form-control col-md-3" type="number" name="quantity" value="1" min="1" max="{{ selectedItem.inStock }}" id="Quantity">
                            </div>
                        </div>
                        <h4 class="price mt-3">price: <span>$</span><span id="price">{{selectedItem.priceSmall}}</span></h4>                


                        
                        

                    </div>
                </div>
            </form>
        </div>
    </div>
  
{% endblock content %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#small').on('click', function (){
                price = {{selectedItem.priceSmall + numberOfCheckedItems}};
                $('#price').html(price);
            });
            $("#medium").on('click', function (){
                price = {{selectedItem.priceMedium}};
                $('#price').html(price);
            });

            $("#large").on('click', function (){
                price = {{selectedItem.priceLarge}};
                $('#price').html(price);
            });

            $("#xlarge").on('click', function (){
                price = {{selectedItem.priceXLarge}};
                $('#price').html(price);
            });

});
    </script>
 
{% endblock scripts %}