{#
{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}

{% block head %}
#}
    {# redirect example with http-eqiv #}
    <meta http-equiv="refresh" content="5;URL='/'" />  
{#
    {% endblock %}
#}
{% block content %}
    <p>Login successful</p>
    <p><a href="/">Click to continue</a>. You will be automatically redirected in 5 seconds.</p>
{% endblock %}