{# {% extends "master.html.twig" %} #}

{% block head %}
	<!DOCTYPE html>
	<html>

		<head>
			<title></title>
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<!-- Google account login -->
			<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
			<!-- <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com"> -->
			<!-- <meta name="google-signin-client_id" content="samuraipizza.ipd24.ca"> -->
			<!------ Include the above in your HEAD tag ---------->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
			<link rel="stylesheet" href="/css/login-styles.css">
		</head>
	{% endblock %}

	{% block content %}
		<body>
		<div class="container h-100">
			<div class="d-flex justify-content-center h-100">
				<div class="user_card">
					<div class="d-flex justify-content-center">
						<div class="brand_logo_container">
							<!-- <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo"> -->
							<img src="/images/samurai.png" class="brand_logo" alt="Logo">
						</div>
					</div>
					<div class="d-flex justify-content-center form_container">
						<form  method="POST">
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-envelope"></i></span>
								</div>
								<input type="text" name="email" class="form-control input_user" value="" placeholder="email">
							</div>
							<div class="input-group mb-2">
								<div class="input-group-append">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" name="password" class="form-control input_pass" value="" placeholder="password">
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customControlInline">
									<label class="custom-control-label white-bold-text" for="customControlInline">Remember me</label>
								</div>
							</div>
								<div class="d-flex justify-content-center mt-3 login_container">
						 <button type="submit" name="login" class="btn login_btn">Login</button>
					   </div>
					   {% if error %}
					   <p class="errorMessage">Invalid username or password. Try again.</p>
				   {% endif %}
						</form>
					</div>
			
					<div class="mt-4">
						<div class="d-flex justify-content-center white-bold-text">
							Don't have an account? <a href="/register" class="ml-2 white-bold-text">Register</a>
						</div>
						<!-- <div class="d-flex justify-content-center links">
							<a href="#" class="">Forgot your password?</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</body>
	</html>
	

{% endblock %}
