{% block head %}
	<head>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/page-not-found-styles.css">
		<script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
        <script>
    // redirect with JavaScript
    setTimeout(function () {
       window.location.href = "/login"; // destination
    }, 3000); //will call the function after 5 secs.
    </script>
	</head>
{% endblock head %}

{% block content %}
	<body>
		<div class="mainbox">
            <h1>Logout successful</h1>
            <h3><a href="/login">Click to continue</a>. You will be automatically redirected in 3 seconds.</h3>
			<!-- <div class="err">4</div>
			<i class="far fa-question-circle fa-spin"></i>
			<div class="err2">4</div>
			<div class="msg">Oops Samurai, we can't find the page that you're looking for.<p>Let's go
					<a href="/"><b>HOMEPAGE</b></a>
					and try from there.</p>
			</div> -->
		</div>
	</body>

	{% endblock %}