<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {#
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> #}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css" />
        {% block stylesheet %}{% endblock stylesheet %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - My Webpage</title>    
</head>

<body>
    <div>
        {% block nav %}
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-info">
            <a class="navbar-brand" href="/productlines"><img src="../images/samurai.png" class="brand_logo rounded" alt="Logo" style="height: 100px;"></a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul id="nav-mobile">
                <a href="#" class="brand-logo brand-text">Samurai Pizza</a>

                <li><a href="/index" class="btn brand z-depth-0">Home</a></li>
                <li><a href="/login" class="btn brand z-depth-0">Login/Register</a></li>
                <li><a href="/order" class="btn brand z-depth-0">Make an Order</a></li>
                <li><a href="/aboutus" class="btn brand z-depth-0">About us</a></li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    
                    <button class="btn btn-outline-warning my-2 my-sm-0 mr-3" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {% endblock nav %}
    </div>

    <div>
        {% if userSession %}
            <p class="py-2 px-4 text-primary float-sm-right">You are logged in as <b>{{ userSession.username }}</b></p>
        {% endif %}
        {% if flashMessage %}
            <div id="flashMessage" class="alert alert-info">
                {{flashMessage}}
            </div>
        {% endif %}
        <div class="overflow-auto">
            {% block content %}

            {% endblock content %}
        </div>

    </div>

        <!-- footer -->
        <div id="footer">
            {% block footer %}
                <br>&copy; Copyright 2021 by <a href="http://domain.invalid/">Leon, Philip, Diego</a>.
            {% endblock %}
        </div>
        
    </div>
    {% block scripts %}
    
    {% endblock scripts %}
</body>

</html>