<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles.css" />
    <title> Samurai Pizza - {% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>
    <div id="centeredContent">
        <!-- Header -->
        <div id="contentHeader">
            <span>You are logged in as <b>{{ userSession.name }}</b>.
                You can <a href="/order">Make a new Order</a>
                or <a href="/logout">Logout</a>.</span>
                {% if userSession.isAdmin %}
                    <span><a href="/admin">Access Admin Interface</a></span>
                {% endif %}
            {% else %}
                <a href="/login">Login</a> or <a href="/register">Register</a>
            {% endif %}
        </div>

        <!-- Content -->
        {% block content %}
        
        {% endblock %}

        <!-- Footer -->
        <div id="footer">
            {% block footer %}
                <br>&copy; Copyright 2021 by <a href="http://domain.invalid/">Leon, Philip, Diego</a>.
            {% endblock %}
        </div>
    </div>
</body>
</html>

{% block functions %}

{% endblock %}