{% extends "master.html.twig" %}

{% block title %}Order Flow{% endblock title %}

{% block head %}

<!-- Head -->
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet" href="/css/order-styles.css">

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<script>
	// validate() function can be added

$(document).ready(function() {
	$("#next").click(function(){
		var output = true; //validate();
		if(output) {
			var current = $(".highlight");
			var next = $(".highlight").next("li");
			if(next.length>0) {
				$("#"+current.attr("id")+"-field").hide();
				$("#"+next.attr("id")+"-field").show();
				$("#back").show();
				$("#finish").hide();
				$(".highlight").removeClass("highlight");
				next.addClass("highlight");
				if($(".highlight").attr("id") == $("li").last().attr("id")) {
					$("#next").hide();
					$("#finish").show();				
				}
			}
		}
	});
	$("#back").click(function(){ 
		var current = $(".highlight");
		var prev = $(".highlight").prev("li");
		if(prev.length>0) {
			$("#"+current.attr("id")+"-field").hide();
			$("#"+prev.attr("id")+"-field").show();
			$("#next").show();
			$("#finish").hide();
			$(".highlight").removeClass("highlight");
			prev.addClass("highlight");
			if($(".highlight").attr("id") == $("li").first().attr("id")) {
				$("#back").hide();			
			}
		}
	});
});
</script>

{% endblock head %}

{% block content %}

<ul id="order-step">
    <li id="orderWelcome" class="highlight">Welcome User</li>
    <li id="pizzaSelection">Select a Pizza</li>
    <li id="pizzaCustomize">Customize your Pizza</li>
    <li id="extraSelection">Select Extras</li>
    <li id="transactionResume">Summary/Total</li>
    <li id="payment">Payment</li>
    <li id="receipt">Receipt</li>
</ul>

<form name="formOrder" id="order-form" method="post">
    <div id="orderWelcome-field">
        <label>Welcome, {{c.name}}.</label>
        <p>Please press on Next to begin your order.</p>
        <!-- Username.custId -->
    </div>
    <div id="pizzaSelection-field" style="display:none;">
        <label> Choose your main pizza.</label>
        <!-- Choosing the pizza -->
        <div class='container back p-5'>
            {% for p in prodList %}
                {% if p.category == pizza %} <!-- Not sure if this is how it is supposed to be -->
                    <div class="card_wrapper">
                        <div class="card mx-auto mt-3 mb-3 "> 
                            <img class='mx-auto img-thumbnail m-3 card_image' src="/images/{{p.photo}}" width="auto" height="auto" />
                            <div class="card-body text-center"> 
                                <div >
                                     <h5 class="card-title font-weight-bold">{{p.productName}}</h5>
                                    <p class="d-flex justify-content-center">
                                        <a href="/itemdetails/{{ p.id }}" class="btn details px-auto mr-1" name="selectedPizza">View Details</a>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="pizzaCustomize-field" style="display:none;">
        <label>Customize your pizza.</label>
        <!-- Select size, toppings, etc -->
        <div class="py-5 container">
            <div class="row">
                {% if errors %}
                {% for e in errors %}
                    <p class="form-control is-invalid text-white bg-danger">{{ e }}</p>
                {% endfor %}
                {% endif %}
                <form method="POST" class="col-md-12">
                    <div class="form-row">
                        <div class="preview col-md-6">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" id="pic-1"><img src="/images/{{selectedItem.photo}}" width="auto" height="auto" /></div>
                            </div>
                        </div>
                        <div class="details col-md-6 px-5">
                            <h3 class="product-title">{{selectedItem.productName}}</h3>
                            <p class="product-description">{{selectedItem.description}}</p>
                            
                        {% if selectedItem.category == 'pizza' %}
                   
                            <div class="form-check">
                                <input type="radio" class="btn-check" name="size" id="small" value="small" checked autocomplete="off">
                                <label  class="btn btn-outline-primary" for="small">S</label>
                                <input type="radio" class="btn-check" name="size"  id="medium" value="medium" autocomplete="off">
                                <label class="btn btn-outline-primary" for="medium">M</label>
                                <input type="radio" class="btn-check" name="size"  id="large" value="large" autocomplete="off">
                                <label class="btn btn-outline-primary" for="large">L</label>
                                <input type="radio" class="btn-check" name="size"  id="xlarge" value="xlarge" autocomplete="off">
                                <label class="btn btn-outline-primary" for="xlarge">XL</label>
                            </div>
                            <br>
                            <h5 class="product-title">Add Ingredients</h5>
    
                            <form method="post" action="/Tests/Post">  
                             <fieldset> 
                            <div  class="row">
                                <div class="form-check col-sm-6">
                                 <!--  <input type="checkbox" id="vehicle1" name="vehicle1" value="1" autocomplete="off">
                                    <label for="vehicle1"> Extra Cheese </label><br>
                                    <input type="checkbox" id="vehicle2" name="vehicle2" value="2"autocomplete="off">
                                    <label for="vehicle2"  for="ham">Ham </label><br>
                                    <input type="checkbox" id="vehicle3" name="vehicle3" value="3"autocomplete="off">
                                    <label for="vehicle3"> Olives</label><br><br>
                                    --> 
                                <input type="checkbox" name="add_ing" value="Extra Cheese" onclick="return AddIngredient();">
                                <label for="vehicle1">  Extra Cheese</label><br>
                                <input type="checkbox" name="add_ing" value="Ham" onclick="return AddIngredient();"> 
                                <label for="vehicle2">Ham</label><br>
                                <input type="checkbox" name="add_ing" value="Olives" onclick="return AddIngredient();">  
                                <label for="vehicle3"> Olives</label><br><br>
                                  
                                </div>
    
                               <div class="form-check col-sm-6">
                                <input type="checkbox" name="add_ing" value="Pepperoni" onclick="return AddIngredient();">
                                <label for="vehicle1"> Pepperoni</label><br>
                                <input type="checkbox" name="add_ing" value="Supreme" onclick="return AddIngredient();"> 
                                <label for="vehicle2">Supreme</label><br>
                                <input type="checkbox" name="add_ing" value="Pineapple" onclick="return AddIngredient();">  
                                <label for="vehicle3"> Pineapple</label><br><br>
    
                               </div> 
                              
                            </div>   
    
                            <script type="text/javascript">  
                            function AddIngredient()  
                            {  
                                var checkboxes = document.getElementsByName("add_ing");  
                                var numberOfCheckedItems = 0; 
                                for(var i = 0; i < checkboxes.length; i++)  
                                {  
                                    if(checkboxes[i].checked)  
                                    numberOfCheckedItems++;
                                    
                                }  
     
                            }  
                            </script>
                            <div>
                                <button id ="ing" class="add-to-cart btn btn-sm" type="submit">add to pizza</button>
                            </div>
                            <br><br>
                                    
                       
                                </fieldset>  
                            </form>  
                            
    
               
                         {% endif %} 
    
                                   
                           <div class="form-group row">
                                <label for="Quantity" class="col-2 col-form-label">Quantity</label>
                                <div class="col-10">
                                    <input class="form-control col-md-3" type="number" name="quantity" value="1" min="1" max="{{ selectedItem.inStock }}" id="Quantity">
                                </div>
                            </div>
                            <h4 class="price mt-3">price: <span>$</span><span id="price">{{selectedItem.priceSmall}}</span></h4>                
    
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    <div id="extraSelection-field" style="display:none;">
        <label>Select your add-ons.</label>
        <!-- Select the drinks, desserts, etc -->
        <div class='container back p-5'>
            {% for p in prodList %}
                {% if p != pizza %} <!-- Not sure if this is how it is supposed to be -->
                    <div class="card_wrapper">
                        <div class="card mx-auto mt-3 mb-3 "> 
                            <img class='mx-auto img-thumbnail m-3 card_image' src="/images/{{p.photo}}" width="auto" height="auto" />
                            <div class="card-body text-center"> 
                                <div >
                                    <h5 class="card-title font-weight-bold">{{p.productName}}</h5>
                                    <p class="d-flex justify-content-center">
                                        <a href="/itemdetails/{{ p.id }}" class="btn details px-auto mr-1">View Details</a>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="transactionResume-field" style="display:none;">
        <label>Transaction Summary.</label>
        <!-- Shows price total -->
        <!-- calculates priceTotal -->
    </div>
    <div id="payment-field" style="display:none;">
        <label>Please enter a method of payment.</label>
        <!-- Credit Card details with verification -->
        <div class="form-group">
            <label>Card Number <span class="text-danger">*</span></label>
            <input type="text" name="card_holder_number" id="card_holder_number" class="form-control" 
                placeholder="1234 5678 9012 3456" maxlength="20" onkeypress="" />
            <span id="error_card_number" class="text-danger" value=""></span>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label>Expiry Month <span class="text-danger">*</span></label>
                    <input type="text" name="card_expiry_month" id="card_expiry_month" class="form-control" 
                        placeholder="MM" maxlength="2" onkeypress="return only_number(event);" />
                    <span id="error_card_expiry_month" class="text-danger" value=""></span>
                </div>
                <div class="col-md-4">
                    <label>Expiry Year <span class="text-danger">*</span></label>
                    <input type="text" name="card_expiry_year" id="card_expiry_year" class="form-control" 
                        placeholder="YYYY" maxlength="4" onkeypress="return only_number(event);" />
                    <span id="error_card_expiry_year" class="text-danger" value=""></span>
                </div>
                <div class="col-md-4">
                    <label>CVC <span class="text-danger">*</span></label>
                    <input type="text" name="card_cvc" id="card_cvc" class="form-control" 
                        placeholder="123" maxlength="4" onkeypress="return only_number(event);" />
                    <span id="error_card_cvc" class="text-danger" value=""></span>
                </div>
            </div>
        </div>
    </div>
    <div id="receipt-field" style="display:none;">
        <label>Thank you for your order!</label>
        <!-- Sending a receipt -->
        <!-- displays custId, priceTotal, status -->
        <input type="submit" value="Confirm Purchase"/>
    </div>
    <div>
		<input class="btnAction" type="button" name="back" id="back" value="Back" style="display:none;">
		<input class="btnAction" type="button" name="next" id="next" value="Next" >
		<input class="btnAction" type="submit" name="finish" id="finish" value="Finish" style="display:none;">
	</div>
</form>

{% endblock content %}

{% block functions %}

<script>
    
$(document).ready(function() {
        $('#small').on('click', function (){
            price = {{selectedItem.priceSmall + numberOfCheckedItems}};
            $('#price').html(price);
        });
        $("#medium").on('click', function (){
            price = {{selectedItem.priceMedium}};
            $('#price').html(price);
        });

        $("#large").on('click', function (){
            price = {{selectedItem.priceLarge}};
            $('#price').html(price);
        });

        $("#xlarge").on('click', function (){
            price = {{selectedItem.priceXLarge}};
            $('#price').html(price);
        });

});


// functions for validation

function validatePayment()
{
	var valid_card = 0;
    var valid = true;
    var card_cvc = $('#card_cvc').val();
    var card_expiry_month = $('#card_expiry_month').val();
    var card_expiry_year = $('#card_expiry_year').val();
    var card_holder_number = $('#card_holder_number').val();

    var name_expression = /^[a-z ,.'-]+$/i;
    var email_expression = /^([a-z0-9\+_\-]+)(\.[a-z0-9\+_\-]+)*@([a-z0-9\-]+\.)+[a-z]{2,6}$/;
    var month_expression = /^01|02|03|04|05|06|07|08|09|10|11|12$/;
    var year_expression = /^2021|2022|2023|2024|2025|2026|2027|2028|2029|2030|2031$/;

    var cvv_expression = /^[0-9]{3,3}$/;

    $('#card_holder_number').validateCreditCard(function(result){
        if(result.valid)
        {
            $('#card_holder_number').removeClass('require');
            $('#error_card_number').text('');
            valid = true;
        }
        else
        {
            $('#card_holder_number').addClass('require');
            $('#error_card_number').text('Invalid Card Number');
            valid = false;
        }
    });

    if(!month_expression.test(card_expiry_month))
    {
        $('#card_expiry_month').addClass('require');
        $('#error_card_expiry_month').text('Invalid Data');
        valid = false;
    }
    else
    {
        $('#card_expiry_month').removeClass('require');
        $('#error_card_expiry_month').text('');
        valid = true;
    }

    if(!year_expression.test(card_expiry_year))
    {
        $('#card_expiry_year').addClass('require');
        $('#error_card_expiry_year').text('Invalid Data');
        valid = false;
    }
    else
    {
        $('#card_expiry_year').removeClass('require');
        $('#error_card_expiry_year').text('');
        valid = true;
    }

    if(!cvv_expression.test(card_cvc))
    {
        $('#card_cvc').addClass('require');
        $('#error_card_cvc').text('Invalid Data');
        valid = false;
    }
    else
    {
        $('#card_cvc').removeClass('require');
        $('#error_card_cvc').text('');
        valid = true;
    }

    return valid;
}


</script>

{% endblock functions %}