{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/styles/productlines.css" />{% endblock stylesheet%}
{% block title %}Product{% endblock %}

{% block content %}


<h2 class="product-title">Extras</h2>

<div class='container back p-5'>


    {% for p in ProductLines %}
        <a class="nav-link" href="/category/{{p.category}}" btn>
            
            {% if p.category == 'pizza' %}


            {% elseif  p.category == 'ingredients' %}

            {% else %}

            <div class="card_wrapper">
                <div class="card mx-auto mt-3 mb-3 "> 

                    <img class='img-thumbnail m-3 card_image' src="/images/{{p.photo}}" width="auto" height="auto" />  
                    <div class="card-body text-center">
                        <div >
                            <p class="card-title font-weight-bold">{{p.category}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endif %} 
 

    </a>
    {% endfor %}
</div>
{% endblock content %}

