    {# redirect example with http-eqiv #}
    <meta http-equiv="refresh" content="3;URL='/'" />  
{% block content %}
<h3>Congratulations, you're officially a samurai!</h3>
    <p><a href="/login">Click to continue</a>. You will be automatically redirected in 3 seconds.</p>
{% endblock %}