#order-step
{
    margin:0;
    padding:0;
}

#order-step li
{
    list-style:none; 
    float:left;
    padding:5px 10px;
    border-top:#EEE 1px solid;
    border-left:#EEE 1px solid;
    border-right:#EEE 1px solid;
}

#order-step li.highlight
{
    background-color:#EEE;
}

#order-form
{
    clear:both;
    border:1px #EEE solid;
    padding:20px;
}

.demoInputBox
{
    padding: 10px;
    border: #F0F0F0 1px solid;
    border-radius: 4px;
    background-color: #FFF;
    width: 50%;
}

.registration-error
{
    color:#FF0000; 
    padding-left:15px;
}

.message 
{
    color: #00FF00;
    font-weight: bold;
    width: 100%;
    padding: 10;
}

.btnAction
{
    padding: 5px 10px;
    background-color: #09F;
    border: 0;
    color: #FFF;
    cursor: pointer; 
    margin-top:15px;
}